/local.properties
/assets/*
/bin/*
/gen/*
/target/*
/libs/ActionbarSherlock/bin/jarlist.cache
/libs/ActionbarSherlock/bin/actionbarsherlock.jar
libs/ActionbarSherlock/bin/
libs/ActionbarSherlock/gen/
gen/
.apt_generated/
.factorypath
.settings/
.classpath
.settings/org.eclipse.jdt.apt.core.prefs .settings/org.eclipse.jdt.core.prefs .settings/org.eclipse.jdt.ui.prefs
.idea
build
.gradle/
