<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ironjan.mensaupb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name="de.ironjan.mensaupb.MensaUpbApplication_"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/GreenTheme">

        <activity
            android:name="de.ironjan.mensaupb.menus_ui.Menus_"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity-alias
            android:name="de.ironjan.mensaupb.activities.Menus_"
            android:targetActivity="de.ironjan.mensaupb.menus_ui.Menus_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity
            android:name="de.ironjan.mensaupb.app_info.About_"
            android:label="@string/app_name"
            android:parentActivityName="de.ironjan.mensaupb.menus_ui.Menus_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ironjan.mensaupb.menus_ui.Menus_" />

        </activity>

        <activity
            android:name="de.ironjan.mensaupb.menus_ui.MenuDetails_"
            android:label="@string/app_name"
            android:parentActivityName="de.ironjan.mensaupb.menus_ui.Menus_"
            android:theme="@style/TransparentActionBarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ironjan.mensaupb.menus_ui.Menus_" />

        </activity>

        <activity
            android:name="de.ironjan.mensaupb.prefs.Settings_"
            android:label="@string/settings"
            android:parentActivityName="de.ironjan.mensaupb.menus_ui.Menus_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ironjan.mensaupb.menus_ui.Menus_" />

        </activity>

        <!--sync-->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <provider
            android:name="de.ironjan.mensaupb.sync.MenuContentProvider_"
            android:authorities="de.ironjan.mensaupb.provider"
            android:exported="false"
            android:syncable="true" />
        <service
            android:name=".sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>