<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <service
            android:name=".........src.de.najidev.mensaupb.sync.AuthenticatorService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".........src.de.najidev.mensaupb.sync.SyncService"
            android:enabled="false"
            android:exported="false" >
        </service>
    </application>

</manifest>
